@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

body {
  font-family: "Maven Pro", sans-serif;
}
.container {
  margin: auto;
  text-align: center;
  /* background-color: #EFEFEF; */
  width: 800px;
  height: 100vh;
}

label {
  display: block;
  margin: 1rem;
  font-size: 1.2rem;
}
input {
  display: block;
  padding: 0.5rem;
  margin: auto;
  border-radius: 0.5rem;
  border: 2px solid #34d399;
  width: 250px;
}

button {
  padding: 0.5rem;
  margin: 1.3rem;
  background-color: #34d399;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  outline: white;
}
h1 {
  margin-top: 2rem;
}

#output {
  font-size: 1.5rem;
}
